.*{
    align-content: center;
    align-items; center;
}
.container {
    display:flex;
    margin-top: 40%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4)
}
#note {
    font-family: Cursive;
}
#btn {
    height: 50px;
    width: 150px;
    border-color: blue;
    color: blue;
}
#foot {
    color: grey;
}
.foot {
    margin-top: 50%;
}